<mat-toolbar color="primary">
    <span>
        Todo Manager
    </span>

    <span class="spacer"></span>

    <span>
        <a routerLink="/" >
            <button mat-icon-button aria-label="home">
                <mat-icon color="accent">home</mat-icon>
            </button>
        </a>
    </span>

    <span>
        <a routerLink="/about" >
            <button mat-icon-button aria-label="about">
                <mat-icon color="accent">help</mat-icon>
            </button>
        </a>
    </span>
</mat-toolbar>
